{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<h1>Our Experience</h1>
<ul>
  <li><a href="{{ url_for('demographicData') }}">Submit your data <i class="fas fa-chevron-right"></i></a></li>
  <li><a href="annagraphs">Dataset Overview<i class="fas fa-chevron-right"></i></a></li>
  <li><a href="visualization"> Explore our data yourself<i class="fas fa-chevron-right"></i></a></li>
</ul>
<a href="{{ url_for('static', filename='about.html') }}"> About Us </a>
{% endblock %}
