{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<center><h3>Welcome to</h3> 
<h1>Our Experience</h1>
<center> This is an app designed by students and patient advocates to help people review and find
<br> birth control methods based on what has worked best for others in your demographic,
<br> though we hope to expand it to other drugs soon.


<ul>
  <li><a href="{{ url_for('demographicData') }}">Submit your data <i class="fas fa-chevron-right"></i></a></li>
  <li><a href="annagraphs">Dataset Overview<i class="fas fa-chevron-right"></i></a></li>
  <li><a href="visualization"> Explore our data yourself<i class="fas fa-chevron-right"></i></a></li>
  <li><a href="patientResults"> (MOCKUP) Individualized Results<i class="fas fa-chevron-right"></i></a></li>
  <li><a href="{{ url_for('static', filename='about.html') }}"> About Us </a></li>
</ul>
{% endblock %}
