{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<h1>Pharmaceutical thing</h1>
  <button class="enter"><a href="{{ url_for('demographicData') }}">Submit your data <i class="fas fa-chevron-right"></i></a></button>
  <button class="analyze"><a href="visualization"> Analyze data<i class="fas fa-chevron-right"></i></a></button>
{% endblock %}
