{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/visualization.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
  <img src=plot?horse={{ whoop }} >
  <h2 class="title">Various Arcane Settings</h2>
  <form method="POST" action="/visualization">
    {{ form.csrf_token }}
  
    {{ form.submit }}
  <div class="form-field">{{ form.x_var.label }} {{ form.x_var }}
      {% if form.x_var.errors %}
        <ul class="errors">
          {% for error in form.x_var.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.y_var.label }} {{ form.y_var }}
      {% if form.y_var.errors %}
        <ul class="errors">
          {% for error in form.y_var.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <h2 class="title"> Filters </h2>
    <div class="form-field">{{ form.drug.label }} {{ form.drug }}
      {% if form.drug.errors %}
        <ul class="errors">
          {% for error in form.drug.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    
    {% for my_formfield in form.my_formfields_bound %} 
          <div class="form-field">{{ my_formfield.label }} {{ my_formfield }}
	      {% if my_formfield.errors %}
		<ul class="errors">
		  {% for error in my_formfield.errors %}
		    <li>{{ error }}</li>
		  {% endfor %}
		</ul>
	      {% endif %}
	    </div>
    {% endfor %}
  </form>
</div>
{% endblock %}
