body {
  background: rgb(11, 5, 63);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  text-align: center;
  color: #0066ff;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  text-align: center;
}
